<div class="ui form segment">
  <h2>Darts</h2>

    <div class="ui grid center aligned">
        <div class="4 wide column">
            <div class="field"><checkbox ng-model="darts.show" size="large" type="toggle">Show Darts Score</checkbox></div>
        </div>
    </div>

    <div class="ui divider"></div>

    <br>

    <div class="ui grid center aligned">
        <div class="four wide field">
            <input style="text-align: center;"  type="text" placeholder="Match Name" ng-model="darts.match">
        </div>
    </div>

    <br>

    <div class="ui divider"></div>

    <br>

    <div class="ui grid center aligned">
      <h2>Sets</h2>
    </div>

    <div class="ui grid center aligned">
      <div class="eight wide column">
        <h3>{{darts.homeTeam}}</h3>
        <h1>{{darts.set1}}</h1>
        <div class="ui icon buttons">
          <button class="ui green button" ng-click="darts.set1 = darts.set1 + 1;">
            <i class="plus icon"></i>
          </button>
          <button class="ui red button" ng-click="darts.set1 = darts.set1 - 1;" ng-disabled="darts.set1 == 0">
            <i class="minus icon"></i>
          </button>
        </div>
      </div>

      <div class="eight wide column">
        <h3>{{darts.awayTeam}}</h3>
        <h1>{{darts.set2}}</h1>
        <div class="ui icon buttons">
          <button class="ui green button" ng-click="darts.set2 = darts.set2 + 1;">
            <i class="plus icon"></i>
          </button>
          <button class="ui red button" ng-click="darts.set2 = darts.set2 - 1;" ng-disabled="darts.set2 == 0">
            <i class="minus icon"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <div class="fields">

                <div class="five wide field">
                  <h3>Player Name</h3>
                </div>

                <div class="two wide field">
                  <h3>Legs</h3>
                </div>

                <div class="two wide field">

                </div>

                <div class="two wide field">
                  <h3>Score</h3>
                </div>

                <div class="two wide field">

                </div>

                <div class="three wide field">

                </div>
            </div>

        </div>

    </div>

    <div class="ui grid center aligned">

        <div class="sizteen wide column">

            <div class="fields">

                <div class="five wide field">
                    <input type="text" placeholder="Home Player" ng-model="darts.player1">
                </div>

                <div class="two wide field">
                  <h2>{{darts.leg1}}</h2>
                </div>

                <div class="two wide field">
                    <div class="ui icon buttons">
                        <button class="ui green button" ng-click="darts.leg1 = darts.leg1 + 1;"><i class="plus icon"></i></button>
                        <button class="ui red button"  ng-click="darts.leg1 = darts.leg1 - 1" ng-disabled="darts.leg1 == 0"><i class="minus icon"></i></button>
                    </div>
                </div>

                <div class="two wide field">
                    <h2>{{darts.score1}}</h2>
                </div>

                <div class="two wide field">
                    <input style="text-align: center;" type="text" placeholder="Score" ng-model="last1">
                </div>

                <div class="three wide field">
                    <div class="ui icon buttons">
                        <div class="ui blue button" ng-click="take1(last1)">Take</div>
                        <div class="ui orange button" ng-click="reset1()">Reset</div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="ui grid center aligned">

        <div class="sizteen wide column">
            <div class="fields">

                <div class="five wide field">
                    <input type="text" placeholder="Away Player" ng-model="darts.player2">
                </div>

                <div class="two wide field">
                  <h2>{{darts.leg2}}</h2>
                </div>

                <div class="two wide field">
                    <div class="ui icon buttons">
                        <button class="ui green button" ng-click="darts.leg2 = darts.leg2 + 1;"><i class="plus icon"></i></button>
                        <button class="ui red button"  ng-click="darts.leg2 = darts.leg2 - 1" ng-disabled="darts.leg2 == 0"><i class="minus icon"></i></button>
                    </div>
                </div>

                <div class="two wide field">
                    <h2>{{darts.score2}}</h2>
                </div>

                <div class="two wide field">
                    <input style="text-align: center;" type="text" placeholder="Score" ng-model="last2">
                </div>

                <div class="three wide field">
                    <div class="ui icon buttons">
                        <div class="ui blue button" ng-click="take2(last2)">Take</div>
                        <div class="ui orange button" ng-click="reset2()">Reset</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
