<div class="ui form segment">
  <h2>General</h2>

  <div class="ui divider"></div>

  <div class="inline field">
    <div class="ui toggle checkbox">
      <input type="checkbox" ng-model="bug.showLogo">
      <label>Show Logo</label>
    </div>
    <div class="ui toggle checkbox">
      <input type="checkbox" ng-model="bug.showGeneral" >
      <label>Show General</label>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="sixteen wide column">
    <div class="inline fields">
      <div class="five wide field">
        <div class="ui toggle checkbox">
          <input type="checkbox" ng-model="bug.showClock">
          <label>Show Clock</label>
        </div>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="inline fields">
        <div class="five wide field">
          <input name="livetext" value="Live" placeholder="Live" type="text" ng-model="bug.livetext" />
        </div>
        <div class="five wide field">
          <div class="ui toggle checkbox">
            <input type="checkbox" ng-model="bug.showLive" >
            <label>Show Live</label>
          </div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="inline fields">
          <div class="five wide field">
            <input name="bugtext" placeholder="Live Location" type="text" ng-model="bug.locationtext" />
          </div>
          <div class="five wide">
            <div class="ui toggle checkbox">
              <input type="checkbox" ng-model="bug.showLocation" >
              <label>Show Location</label>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
