<div class="ui form segment">
	<h2>Roses</h2>

	<div class="ui visible info message">
		<i class="close icon"></i>
		<div class="header">Automated Scores</div>
		<p>Roses scores are pulled from the master score server, but this is subject to crashing.</p>
		<p>Latest score from Roses Live: York {{roses.yorkScore}}, Lancaster {{roses.lancScore}}.</p>
		<p>The current number of total number of points available is {{roses.totalPoints}}</p>
	</div>

	<div class="inline field">
		<div class="ui toggle checkbox">
				<input type="checkbox" ng-model="roses.showScore" >
				<label>Show Score</label>
		</div>
		<div class="ui toggle checkbox">
				<input type="checkbox" ng-model="roses.showProgress" >
				<label>Show Winning Progress</label>
		</div>


	</div>
	<div class="ui divider"></div>
	<div class="inline field">
		<div class="ui toggle checkbox">
				<input type="checkbox" ng-model="roses.manualScore" >
				<label>Manual Score</label>
		</div>
	</div>
	<br />
	<div class="three fields">
		<div class="field">
			<label for="York">York</label>
			<input id="York" placeholder="York" type="text" ng-disabled="!roses.manualScore" ng-trim="true" ng-model="roses.yorkScore"/>
		</div>

		<div class="field">
			<label for="Lancs">Lancaster</label>
			<input id="Lancs" placeholder="Lancaster" type="text" ng-trim="true" ng-disabled="!roses.manualScore" ng-model="roses.lancScore">
		</div>
		<div class="field">
			<label for="totlePoints">Available Points</label>
			<input id="totalPoints" type="number" ng-trim="true" ng-disabled="!roses.manualScore" ng-model="roses.totalPoints" />
		</div>
	</div>


</div>
