<div class="ui form segment">
    <h2>Rugby</h2>

    <div class="ui grid center aligned">
        <div class="eight wide column">
            <div class="field">
                <checkbox ng-model="rugby.show" size="large" type="toggle">Show Score Bar</checkbox>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="three wide column center aligned">
            <h2 class="ui header">{{clock}}</h2>
        </div>

        <div class="five wide column">
            <div class="ui action input">
                <input type="text" placeholder="mm:ss" ng-model="time" size="10">
                <div class="ui button" ng-click="setClock(time)">Set</div>
            </div>
        </div>

        <div class="seven wide column">
            <div class="ui">
                <div class="ui icon red button" ng-click="upClock()">
                    <i class="up arrow icon"></i>
                </div>

                <div class="ui icon blue button" ng-click="pauseClock()">
                    <i class="pause icon"></i>
                </div>

                <div class="ui icon green button" ng-click="downClock()">
                    <i class="down arrow icon"></i>
                </div>

                <div class="ui button" ng-click="resetClock()">Reset</div>
                <checkbox ng-model="rugby.showextratime" size="large" type="toggle">Extra Time</checkbox>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">
      <div class="eight wide column">
        <h2>Rugby Union</h2>
      </div>
    </div>

    <div class="ui grid center aligned">
        <div class="eight wide column">
            <h3>{{rugby.homeTeam}}</h3>
            <h1>{{rugby.homeScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="rugby.homeScore = rugby.homeScore + 5;">
                    <i class="plus icon"></i>5
                </button>
                <button class="ui yellow button" ng-click="rugby.homeScore = rugby.homeScore + 3;">
                    <i class="plus icon"></i>3
                </button>
                <button class="ui orange button" ng-click="rugby.homeScore = rugby.homeScore + 2;">
                    <i class="plus icon"></i>2
                </button>
                <button class="ui red button" ng-click="rugby.homeScore = rugby.homeScore - 1;" ng-disabled="rugby.homeScore == 0">
                    <i class="minus icon"></i>1
                </button>
            </div>
            <br>
            <br> 
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="rugby.homeScore = 0">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>

        <div class="eight wide column">
            <h3>{{rugby.awayTeam}}</h3>
            <h1>{{rugby.awayScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="rugby.awayScore = rugby.awayScore + 5;">
                    <i class="plus icon"></i>5
                </button>
                <button class="ui yellow button" ng-click="rugby.awayScore = rugby.awayScore + 3;">
                    <i class="plus icon"></i>3
                </button>
                <button class="ui orange button" ng-click="rugby.awayScore = rugby.awayScore + 2;">
                    <i class="plus icon"></i>2
                </button>
                <button class="ui red button" ng-click="rugby.awayScore = rugby.awayScore - 1;" ng-disabled="rugby.awayScore == 0">
                    <i class="minus icon"></i>1
                </button>
            </div>
            <br>
            <br> 
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="rugby.awayScore = 0">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">
      <div class="eight wide column">
        <h2>Rugby League</h2>
      </div>
    </div>

    <div class="ui grid center aligned">
        <div class="eight wide column">
            <h3>{{rugby.homeTeam}}</h3>
            <h1>{{rugby.homeScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="rugby.homeScore = rugby.homeScore + 4;">
                    <i class="plus icon"></i>4
                </button>
                <button class="ui yellow button" ng-click="rugby.homeScore = rugby.homeScore + 2;">
                    <i class="plus icon"></i>2
                </button>
                <button class="ui orange button" ng-click="rugby.homeScore = rugby.homeScore + 1;">
                    <i class="plus icon"></i>1
                </button>
                <button class="ui red button" ng-click="rugby.homeScore = rugby.homeScore - 1;" ng-disabled="rugby.homeScore == 0">
                    <i class="minus icon"></i>1
                </button>
            </div>
            <br>
            <br> 
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="rugby.homeScore = 0">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>

        <div class="eight wide column">
            <h3>{{rugby.awayTeam}}</h3>
            <h1>{{rugby.awayScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="rugby.awayScore = rugby.awayScore + 4;">
                    <i class="plus icon"></i>4
                </button>
                <button class="ui yellow button" ng-click="rugby.awayScore = rugby.awayScore + 2;">
                    <i class="plus icon"></i>2
                </button>
                <button class="ui orange button" ng-click="rugby.awayScore = rugby.awayScore + 1;">
                    <i class="plus icon"></i>1
                </button>
                <button class="ui red button" ng-click="rugby.awayScore = rugby.awayScore - 1;" ng-disabled="rugby.awayScore == 0">
                    <i class="minus icon"></i>1
                </button>
            </div>
            <br>
            <br> 
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="rugby.awayScore = 0">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>
    </div>

    <script>
        $('.menu .item').tab();
    </script>
</div>
