<div class="ui form segment">
  <h2>Swimming</h2>

	<div class="ui grid center aligned">
    	<div class="five wide column">
    		<div class="field"><checkbox ng-model="swimming.showclock" size="large" type="toggle">Show Clock</checkbox></div>
    	</div>
        <div class="five wide column">
            <div class="field"><checkbox ng-model="swimming.showsplits" size="large" type="toggle">Enable Splits</checkbox></div>
        </div>
        <div class="five wide column">
            <div class="field"><checkbox ng-model="swimming.showlist" size="large" type="toggle">Show Start/Results</checkbox></div>
        </div>
    </div>

  	<div class="ui divider"></div>

  	<div class="ui grid center aligned">

        <div class="three wide column center aligned">
          <h2 class="ui header">{{clock.time}}</h2>
        </div>

        <div class="five wide column">
          <div class="ui">
            <div class="ui icon red button" ng-click="upClock()">
              <i class="up arrow icon"></i>
            </div>

            <div class="ui icon blue button" ng-click="pauseClock()">
              <i class="pause icon"></i>
            </div>
            <div class="ui button" ng-click="resetClock()" >Reset</div>
          </div>
        </div>

        <div class="four wide column">
          <input type="text" placeholder="Distance/Event" ng-model="swimming.distanceTemp">
        </div>

        <div class="two wide column">
            <div class="ui button" ng-click="submitDistance()">Submit</div>
        </div>
        <div class="two wide column">
            <div class="ui button" ng-click="resetLanes()" >Reset Lanes</div>
        </div>

    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">
        <div class="three wide column">
            <input placeholder="Order" ng-model="swimming.order" ng-keypress="($event.which === 13)?resetOrder($event):0">
        </div>
        <div class="two wide column">
            <div class="ui button" ng-click="resetOrder()" >Clear</div>
        </div>
    </div>

    <div class="ui grid center aligned">
        <div class="wide column">
            Before a race starts, press clear, then enable splits with the toggle above.<br>At each split, type numbers 1-8 in the order of the swimmers. [Enter] also clears the splits.<br>The start list turns into a results page when an order is typed.
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned" ng-repeat="lane in swimming.lanes">

        <div class="sixteen wide column">
            <div class="fields">
                <div class="two wide field"><h3>Lane {{lane.id + 1}}</h3></div>
                <div class="nine wide field">
                    <input type="text" placeholder="Lane {{lane.id + 1}} Name" ng-model="lane.name">
                </div>

                <div class="two wide inline field">
                    <select ng-model="lane.team">
                        <option value="{{swimming.homeTeam}}">{{swimming.homeTeam}}</option>
                        <option value="{{swimming.awayTeam}}">{{swimming.awayTeam}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
 </div>
