<div class="ui form segment">
  <h2>Tennis</h2>

    <div class="ui grid center aligned" ng-show="(tennis.score.pointsPlayed == 0) && (!tennis.score.firstFault)" >

        <h3>Pre-match settings - These will dissappear when first point is scored, so check these before starting match</h3>

        <div class="sixteen wide column">
            <div class="fields">
                <div class="six wide field">
                    <div class="ui icon buttons">
                        <button class="ui blue button" ng-click="toggleServer();"><i class="exchange icon"></i> Swap First Server</button>
                    </div>
                </div>

                <div class="ten wide inline field">
                    <label>Maximum Sets:</label>
                    <select ng-model="tennis.options.maxSets" class="ui fluid dropdown">
                        <option value="3">3</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider" ng-show="(tennis.score.pointsPlayed == 0) && (!tennis.score.firstFault)" ></div>

    <div class="ui grid center aligned">
        <div class="sixteen wide column">
            <div class="fields">

                <div class="ten wide inline field">
                    <label>Match Name:</label>
                    <select ng-model="tennis.options.matchName" class="ui fluid dropdown">
                        <option>Men's 1st Singles</option>
                        <option>Men's 2nd Singles</option>
                        <option>Women's 1st Singles</option>
                        <option>Women's 2nd Singles</option>
                        <option>Mixed 1st Doubles</option>
                        <option>Mixed 2nd Doubles</option>
                    </select>
                </div>

                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-model="tennis.options.showSets">
                        <label>Show Sets</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ui grid center aligned">
        <div class="sixteen wide column">
            <div class="fields">
                <div class="four wide field">
                    <div class="ui red button" ng-click="resetAll()" >Reset All</div>
                </div>

                <div class="seven wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-model="tennis.options.showScore">
                        <label>Show Score</label>
                    </div>
                </div>

                <div class="five wide field">
                    <div class="ui grey button" ng-click="undoPoint()"><i class="undo icon"></i> Undo</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div style="position: absolute; margin-top: -16px; right: 24%; height: 195px; border-left: 1px solid rgba(34, 36, 38, 0.15); border-right: 1px solid rgba(255, 255, 255, 0.1);"></div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <div class="fields">

                <div class="one wide field">
                </div>

                <div class="four wide field">
                  <h3>Player Name</h3>
                </div>

                <div class="one wide field">
                  <h3>Sets</h3>
                </div>

                <div class="two wide field">
                  <h3>Games</h3>
                </div>

                <div class="two wide field">
                  <h3>Points</h3>
                </div>

                <div class="two wide field">
                </div>

                <div class="four wide field">
                  <h3>Special Buttons</h3>
                </div>

            </div>

        </div>

    </div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <div class="fields">

                <div class="one wide field">
                    <i class="icon circle" style="vertical-align: middle;" ng-show="tennis.score.server == 1"></i>
                </div>

                <div class="four wide field">
                    <input type="text" placeholder="Home Player" ng-model="tennis.options.homeTeam" ng-disabled="($scope.tennis.options.matchName).includes('Mixed');">
                </div>

                <div class="one wide field">
                  <h2>{{tennis.score.set1}}</h2>
                </div>

                <div class="two wide field">
                  <h2>{{tennis.score.game1}}</h2>
                </div>

                <div class="two wide field">
                  <h2>{{tennis.score.pointName1}}</h2>
                </div>

                <div class="two wide field">
                    <div class="ui icon buttons">
                        <button class="ui green button" ng-click="scorePoint(1);" ng-disabled="tennis.options.disableInput"><i class="plus icon"></i></button>
                    </div>
                </div>

                <div class="four wide field">
                    <button class="ui green button" ng-click="acePoint()" ng-disabled="tennis.options.disableInput"><i class="plus icon"></i> Ace</button>
                </div>
            </div>

        </div>

    </div>


    <div class="ui grid center aligned">

        <div class="sixteen wide column">
            <div class="fields">

                <div class="one wide field">
                    <i class="icon circle" style="vertical-align: middle;" ng-show="tennis.score.server == 2"></i>
                </div>

                <div class="four wide field">
                    <input type="text" placeholder="Away Player" ng-model="tennis.options.awayTeam" ng-disabled="($scope.tennis.options.matchName).includes('Mixed');">
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.set2}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.game2}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.pointName2}}</h2>
                </div>

                <div class="two wide field">
                    <div class="ui icon buttons">
                        <button class="ui green button" ng-click="scorePoint(2);" ng-disabled="tennis.options.disableInput"><i class="plus icon"></i></button>
                    </div>
                </div>

                <div class="four wide field">
                    <button class="ui orange button" ng-click="faultPoint()" ng-disabled="tennis.options.disableInput"><i class="remove icon"></i> <span ng-show="tennis.score.firstFault">Double </span>Fault</button>
                </div>
            </div>

        </div>

    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <h3>Game History</h3>
            <div class="fields">

                <div class="four wide field">
                    <h3>Player Name</h3>
                </div>

                <div class="two wide field">
                    <h3>Set 1</h3>
                </div>

                <div class="two wide field">
                    <h3>Set 2</h3>
                </div>

                <div class="two wide field">
                    <h3>Set 3</h3>
                </div>

                <div class="two wide field" ng-show="tennis.options.maxSets == 5">
                    <h3>Set 4</h3>
                </div>

                <div class="two wide field" ng-show="tennis.options.maxSets == 5">
                    <h3>Set 5</h3>
                </div>

            </div>

        </div>

    </div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <div class="fields">

                <div class="four wide field">
                    <h3>{{tennis.options.homeTeam}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.sets1[0]}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.sets1[1]}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.sets1[2]}}</h2>
                </div>

                <div class="two wide field" ng-show="tennis.options.maxSets == 5">
                    <h2>{{tennis.score.sets1[3]}}</h2>
                </div>

                <div class="two wide field" ng-show="tennis.options.maxSets == 5">
                    <h2>{{tennis.score.sets1[4]}}</h2>
                </div>

            </div>

        </div>

    </div>


    <div class="ui grid center aligned">

        <div class="sixteen wide column">
            <div class="fields">

                <div class="four wide field">
                    <h3>{{tennis.options.awayTeam}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.sets2[0]}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.sets2[1]}}</h2>
                </div>

                <div class="two wide field">
                    <h2>{{tennis.score.sets2[2]}}</h2>
                </div>

                <div class="two wide field" ng-show="tennis.options.maxSets == 5">
                    <h2>{{tennis.score.sets2[3]}}</h2>
                </div>

                <div class="two wide field" ng-show="tennis.options.maxSets == 5">
                    <h2>{{tennis.score.sets2[4]}}</h2>
                </div>

            </div>

        </div>

    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <h3>
                <div class="ui toggle checkbox">
                    <input type="checkbox" ng-model="tennis.options.showStats">
                    <label>Show Statistics</label>
                </div>
            </h3>

            <div class="fields">

                <div class="two wide field">
                    <h3>Player Name</h3>
                </div>

                <div class="one wide field">
                    <h3>Aces</h3>
                </div>

                <div class="one wide field">
                    <h3>Single Faults</h3>
                </div>

                <div class="one wide field">
                    <h3>Double Faults</h3>
                </div>

                <div class="one wide field">
                    <h3>Points Served</h3>
                </div>

                <div class="one wide field">
                    <h3>Total Points Won</h3>
                </div>

                <div class="one wide field">
                    <h3>Break Points</h3>
                </div>

                <div class="one wide field">
                    <h3>Breaks Won</h3>
                </div>

                <div class="one wide field">
                    <h3>Service Games</h3>
                </div>

                <div class="one wide field">
                    <h3>Service Games Won</h3>
                </div>

                <div class="one wide field">
                    <h3>First Serves Won</h3>
                </div>

                <div class="one wide field">
                    <h3>Second Serves Won</h3>
                </div>

            </div>

        </div>

    </div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <div class="fields">

                <div class="two wide field">
                    <h3>{{tennis.options.homeTeam}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.ace1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.singleFault1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.doubleFault1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.pointsServed1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.pointsWon1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.breakPoint1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.breaksWon1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.serviceGame1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.servicesWon1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.firstServeWon1}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.secondServeWon1}}</h2>
                </div>

            </div>

        </div>

    </div>


    <div class="ui grid center aligned">

        <div class="sixteen wide column">
            <div class="fields">

                <div class="two wide field">
                    <h3>{{tennis.options.awayTeam}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.ace2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.singleFault2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.doubleFault2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.pointsServed2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.pointsWon2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.breakPoint2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.breaksWon2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.serviceGame2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.servicesWon2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.firstServeWon2}}</h2>
                </div>

                <div class="one wide field">
                    <h2>{{tennis.score.secondServeWon2}}</h2>
                </div>

            </div>

        </div>

    </div>

</div>
