<div class="ui form segment">
    <h2>Waterpolo</h2>

    <div class="ui grid center aligned">
        <div class="ten wide column">
            <div class="inline field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" ng-model="waterpolo.show">
                    <label>Show Score Bar</label>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" ng-model="waterpolo.showquarter">
                    <label>Show Quarter</label>
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="five wide column center aligned">
            <h2 class="ui header">{{clock.time}}</h2>
            <select title="Current Quarter" ng-model="waterpolo.currentQuarter" class="ui fluid dropdown">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
            </select>
        </div>

        <div class="five wide column">
            <div class="ui action input fluid">
                <input type="text" placeholder="mm:ss" ng-model="time">
                <div class="ui button" ng-click="setClock(time)">Set</div>
            </div>
        </div>

        <div class="five wide column">
          <div class="ui">
            <div class="ui icon red button" ng-click="upClock()">
                <i class="up arrow icon"></i>
            </div>

            <div class="ui icon blue button" ng-click="pauseClock()">
                <i class="pause icon"></i>
            </div>

            <div class="ui icon green button" ng-click="downClock()">
                <i class="down arrow icon"></i>
            </div>

            <div class="ui button" ng-click="resetClock()">Reset</div>
          </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">
        <div class="eight wide column">
            <h3>{{waterpolo.homeTeam}}</h3>
            <h1>{{waterpolo.homeScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="waterpolo.homeScore = waterpolo.homeScore + 1;">
                    <i class="plus icon"></i>
                </button>
                <button class="ui red button" ng-click="waterpolo.homeScore = waterpolo.homeScore - 1;" ng-disabled="waterpolo.homeScore == 0">
                    <i class="minus icon"></i>
                </button>
            </div>
        </div>

        <div class="eight wide column">
            <h3>{{waterpolo.awayTeam}}</h3>
            <h1>{{waterpolo.awayScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="waterpolo.awayScore = waterpolo.awayScore + 1;">
                    <i class="plus icon"></i>
                </button>
                <button class="ui red button" ng-click="waterpolo.awayScore = waterpolo.awayScore - 1;" ng-disabled="waterpolo.awayScore == 0">
                    <i class="minus icon"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="teams">Teams</a>
        <a class="item" data-tab="settings">Settings</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="teams">
        <div class="ui two column grid">
            <div class="column">
                <table class="ui striped table">
                    <thead>
                        <th colspan="2">{{waterpolo.homeTeam}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in homePlayers">
                            <td>{{player.name}} <strong>({{player.number}})</strong></td>
                            <td>
                                <div class="mini ui yellow button" ng-click="yellowCard('home', $index)" >Y</div>
                                <div class="mini ui red button" ng-click="redCard('home', $index)" >R</div>
                                <div class="mini ui green button" ng-click="scored('home', $index)" >G</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <table class="ui striped table">
                    <thead>
                        <th colspan="2">{{waterpolo.awayTeam}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in awayPlayers">
                            <td>{{player.name}} <strong>({{player.number}})</strong></td>
                            <td>
                                <div class="mini ui yellow button" ng-click="yellowCard('away', $index)" >Y</div>
                                <div class="mini ui red button" ng-click="redCard('away', $index)" >R</div>
                                <div class="mini ui green button" ng-click="scored('away', $index)" >G</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="settings">
        <div class="ui two column grid">
            <div class="column">
                <h2>{{waterpolo.homeTeam}}</h2>
                <form class="ui form">
                    <div class="field">
                        <label></label>
                        <input ng-model="home.name" placeholder="Player Name" type="text"/>
                    </div>
                    <div class="six wide field">
                        <label></label>
                        <input ng-model="home.number" placeholder="Player Number" type="text"/>
                    </div>
                    <div class="field">
                        <label></label>
                        <input ng-model="home.position" placeholder="Player Position" type="text"/>
                    </div>
                </form>

                <div class="ui icon green button" ng-click="addHomePlayer()">
                    <i class="plus icon"></i> Add Player
                </div>

                <div class="ui divider"></div>

                <table class="ui very basic padded celled table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>#</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="player in homePlayers">
                        <tr>
                            <td>
                                <h4 class="ui header">
                                    <div class="content">
                                        {{player.name}}
                                        <div class="sub header">{{player.position}}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td class="collapsing">
                                {{player.number}}
                            </td>
                            <td class="collapsing">
                                <div class="mini ui negative icon button" ng-click="delete('home', $index)" >
                                    <i class="delete icon"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <h2>{{waterpolo.awayTeam}}</h2>
                <form class="ui form">
                    <div class="field">
                        <label></label>
                        <input ng-model="away.name" placeholder="Player Name" type="text"/>
                    </div>
                    <div class="six wide field">
                        <label></label>
                        <input ng-model="away.number" placeholder="Player Number" type="text"/>
                    </div>
                    <div class="field">
                        <label></label>
                        <input ng-model="away.position" placeholder="Player Position" type="text"/>
                    </div>
                </form>

                <div class="ui icon green button" ng-click="addAwayPlayer()">
                    <i class="plus icon"></i> Add Player
                </div>

                <div class="ui divider"></div>

                <table class="ui very basic padded celled table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>#</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="player in awayPlayers">
                        <tr>
                            <td>
                                <h4 class="ui header">
                                    <div class="content">
                                        {{player.name}}
                                        <div class="sub header">{{player.position}}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td class="collapsing">
                                {{player.number}}
                            </td>
                            <td class="collapsing">
                                <div class="mini ui negative icon button" ng-click="delete('away', $index)" >
                                    <i class="delete icon"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $('.menu .item').tab();
    </script>
</div>
