@brand-background-colour-primary: #BC204B;
@brand-background-colour-secondary: #1f1a34;
@brand-background-colour-tertiary: #f2f2f2;
@brand-text-colour-h1: #fff;
@brand-text-colour-h2: #f2f2f2;
@brand-text-colour-h1-alt: #000;
@brand-text-colour-h2-alt: #1f1a34;

@team-1-colour: #cd1d18;
@team-2-colour: #efbb39;
@team-1-logo: url("/images/rose_red.png");
@team-2-logo: url("/images/rose_white.png");