<div ng-controller="footballCtrl" class="football left top scale-fade" ng-show="football.show">
    <div class="row">
        <div class="clock">{{clock}}</div>
        <div class="score home">{{football.homeTeamShort}}</div>
        <div class="score scoreNumber">{{football.homeScore}} - {{football.awayScore}}</div>
        <div class="score away">{{football.awayTeamShort}}</div>
    </div>
    <div ng-show="football.showextratime" class="extratime scale-fade">ET</div>
</div>

<div ng-controller="footballCtrl" ng-show="football.showpost">
    <img ng-src="{{football.homeTeamImage}}" ng-show="football.showpost" class="bottom leftLogo scale-fade"/>
    <img ng-src="{{football.awayTeamImage}}" ng-show="football.showpost" class="bottom rightLogo scale-fade"/>
    <div ng-show="football.showpost" class="center bottom football-score scale-fade" >
        <div class="footballtop">
            <h1 ng-show="football.showtop">{{football.matchname}}</h1>
        </div>
        <div class="float-left home">
            <p>{{football.homeScore}}</p>
        </div>

        <div class="float-right away">
            <p>{{football.awayScore}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="footballbottom">
            <h1 ng-show="football.showbottom">{{football.starttime}}</h1>
        </div>
    </div>
</div>

<div ng-controller="footballCtrl" ng-show="football.showpre">
    <img ng-src="{{football.homeTeamImage}}" ng-show="football.showpre" class="bottom leftLogo scale-fade"/>
    <img ng-src="{{football.awayTeamImage}}" ng-show="football.showpre" class="bottom rightLogo scale-fade"/>
    <div ng-show="football.showpre" class="center bottom football-score scale-fade" >
        <div class="footballtop">
            <h1 class="upper" ng-show="football.showtop">{{football.matchname}}</h1>
        </div>
        <div class="float-left home">
        {{football.homeScore}}
        </div>

        <div class="float-right away">
        {{football.awayScore}}
        </div>
        <div class="clearfix"></div>
        <div class="footballbottom">
            <h1 ng-show="football.showbottom">{{football.starttime}}</h1>
        </div>
        <div class="clearfix"></div>
    </div>
</div>