<div ng-controller="bugCtrl">
    <div class="logo right top toggle" ng-show="state.showLogo">
        <img src="{{bug.logo}}" />
    </div>
    <div class="toggle" ng-show="state.showGeneral"> 
        <div class="bug top slide-left" ng-show="state.showClock">
            <h1 class="black">{{clock | date: "HH:mm"}}</h1>
        </div>
        <div class="bug top slide-left" ng-show="state.showLive">
            <h1 ng-show="state.showLive">{{bug.livetext}}</h1>
        </div>
        <div class="bug top slide-left" ng-show="state.showLocation">
            <h1 class="white" ng-show="state.showLocation">{{bug.locationtext}}</h1>
        </div>
    </div>
</div>