<div ng-controller="gridCtrl">
    <div class="grid {{grid.position || 'top center'}} scale-fade" ng-show="show">
        <div class="gradient-overlay">
            <h1 style="background-color: {{grid.headingcolor}} !important;">{{ grid.header }}</h1>
        </div>
        <div class="row" ng-repeat="row in grid.rows" style="transition-delay: {{$index*0.15}}s; z-index: {{$index * -1}};">
            <div style="background-color: {{grid.leftcolor}} !important;" class="gridleft {{grid.split || 'halves'}}gridleft">{{ row.left }}</div>
            <div style="background-color: {{grid.rightcolor}} !important;" class="gridright {{grid.split || 'halves'}}gridright">{{ row.right }}</div>
        </div>
    </div>
</div>